:root {
--bg-layout-color: #FFF6F8;
--bg-container-color: #FFE2E9;
--bg-block-color: #FFC6D1;
--text-primary-color: #582B41;
--text-secondary-color: #7F4B61;
--text-highlighted-color: #E3006F;
--text-highlighted2-color: #FF78A7;
}

* {
  
}