:root {
  --bg-layout-color: #FFF6F8;
  --bg-block-border-color: #ffdde5;
  --bg-block-color: #ffbfcc;
  --text-primary-color: #582B41;
  --text-secondary-color: #7F4B61;
  --text-highlighted-color: #E3006F;
  --text-highlighted2-color: #FF78A7;
}

* {
  box-sizing: border-box;
  color: var(--text-primary-color);
}

body {
  margin: 0;
  padding: 30px;
  background-color: var(--bg-layout-color)
}

h2,
h1 {
  color: var(--text-highlighted-color);
  margin: 0;
}

h4,
h3 {
  color: var(--text-highlighted2-color);
  margin: 0;
}

span {
  color: var(--text-secondary-color);
}

label {
  margin: 5px;
}

.container {
  /*Глобальний класс, устанавливаеться в начале кода ответственного 
  за обекты в пределее таблицы блоков. | A global class that is at the 
  beginning of the code relevant for setting objects in the block boundary table*/
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 40px;
}

.to-left {
  /*Класс для выравнивания по правому краю | Class for right alignment*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.to-left form div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.to-left form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.header {
  /*Контейнер для заголовка | container for topic*/
  width: 100%;
}

.header-content {
  /*Блок для заголовка | block for topic*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.blocks-list {
  /*Класс на одну степеньку ниже, устанавливаеться в "Заголовок таблицы
   блоков. | The class one step lower is set to "Block Table Header.*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px;
  justify-content: center;
}

.block {
  /*Класс предназначенный для обычного блока в пределах таблицы блоков 
  занимаюший простарнство 1х1. | A class intended for a regular block within 
  a block table occupying 1x1 space.*/
  background-color: var(--bg-block-color);
  border-radius: 5%;
  border: var(--bg-block-border-color) 4px solid;
  text-align: center;
  /*align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;*/
  gap: 16px;
  padding: 28px;
}

.block-wide {
  /**Класс предназначенный для широкого блока в пределах таблицы блоков 
  занимаюший простарнство 1х2. | A class designed for a wide block within a block table
  occupying a 1x2 space.*/
  grid-column: 1/-1;
  background-color: var(--bg-block-color);
  border-radius: 5%;
  border: var(--bg-block-border-color) 4px solid;
  text-align: center;
  /*align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;*/
  gap: 16px;
  padding: 28px;
}

.block-submit {
  background-color: var(--text-secondary-color);
  border-radius: 15%;
  border: var(--text-primary-color) 4px solid;
}
/*
:invalid {
  border: 2px solid var(--text-highlighted-color);
  background-color: var(--bg-layout-color);
}*/

.base:invalid {
  border: 2px solid var(--text-highlighted-color);
  background-color: var(--bg-layout-color);
}

/*    break points    */


@media (max-width: 1024px) {

  .container {
    padding: 0 32px;
  }

  .blocks-list {
    gap: 28px;
  }

}

@media (max-width: 768px) {

  .container {
    padding: 0 24px;
  }

  .blocks-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}

@media (max-width: 375px) {

  .container {
    padding: 0 16px;
  }

  .blocks-list {
    gap: 16px;
  }

}