:root {
  --bg-layout-color: #FFF6F8;
  --bg-block-border-color: #FFE2E9;
  --bg-block-color: #FFC6D1;
  --text-primary-color: #582B41;
  --text-secondary-color: #7F4B61;
  --text-highlighted-color: #E3006F;
  --text-highlighted2-color: #FF78A7;
}

* {
  box-sizing: border-box;
  color: var(--text-primary-color);
}

body {
  margin: 0;
  background-color: var(--bg-layout-color);
}

h4,
h1,
h2,
h3 {
  color: var(--text-highlighted-color);
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--text-highlighted-color);
}

.container {
  /*Глобальний класс, устанавливаеться в начале кода ответственного 
  за обекты в пределее таблицы блоков. | A global class that is at the 
  beginning of the code relevant for setting objects in the block boundary table*/
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 40px;
}

.blocks-list {
  /*Класс на одну степеньку ниже, устанавливаеться в "Заголовок таблицы
   блоков. | The class one step lower is set to "Block Table Header.*/
  display: grid;
  grid-template-columns: repeat(2, 390px);
  gap: 44px;
  justify-content: center;
}

.block {
  /*Класс предназначенный для обычного блока в пределах таблицы блоков 
  занимаюший простарнство 1х1. | A class intended for a regular block within 
  a block table occupying 1x1 space.*/
  background-color: var(--bg-block-color);
  border-radius: 5%;
  border-color: var(--bg-block-border-color);
  text-align: center;
  /*align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 16px;*/
  padding: 16px;
}

.block-wide {
  /**Класс предназначенный для широкого блока в пределах таблицы блоков 
  занимаюший простарнство 1х2. | A class designed for a wide block within a block table
  occupying a 1x2 space.*/
  grid-column: span 2;
  background-color: var(--bg-block-color);
  border-radius: 5%;
  border-color: var(--bg-block-border-color);
  text-align: center;
  /*align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 16px;*/
  padding: 16px;
}

/*    braek points    */


@media (max-width: 1024px) {

  .container {
    padding: 0 32px;
  }

  .blocks-list {
    grid-template-columns: repeat(1, 350px);
    gap: 16px;
  }

}

@media (max-width: 768px) {

  .container {
    padding: 0 24px;
  }

  .blocks-list {
    grid-template-columns: repeat(2, 390px);
    gap: 28px;
  }
}

@media (max-width: 375px) {

  .container {
    padding: 0 16px;
  }

  .blocks-list {
    grid-template-columns: repeat(1, 300px);
    gap: 16px;
  }

}